body,
html {
  margin: 0;
  padding: 0;
  font-family: "raleway";
  background-color: rgba(156, 206, 244, 255);
}

.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

/* Current weather */

.app_header {
  background-color: rgba(117, 158, 218, 255);
  padding: 1% 1.5%;
}
/*----------  Btn ------------- */
nav button {
  padding: 0.5rem 1.5rem;
  background-color: #5879c7;
  border: none;
  margin-left: 1.3rem;
  cursor: pointer;
  font-family: "raleway";
}
/*----------  Search bar ------------- */
nav input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.418);
  padding-bottom: 0.5rem;
  color: white;
}
input:focus {
  outline: none;
}
::placeholder {
  color: rgba(255, 255, 255, 0.555);
  font-family: "raleway";
}
/*---------------- main---------------------*/
.app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.wea-ther {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  list-style: none;
}
/*------------------Responsive-------------------------*/

@media only screen and (max-width: 600px) {
  .wea-ther {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .res-grid {
    align-items: center;
    justify-content: center;
    display: grid;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
